@media screen and  (max-width : 375px){ 
    /*Reglas CSS*/ 
      
body{
        background: var(--Dark01);
        font-family: "Open Sans",sans-serif;
        color: var(--Letra);
        font-size: 20px;
    }
.container {
    width: auto;
}

.header {
    padding: 50px 50px 0px 70px;
}
.img-logo{
    width: auto; 
    height: 90px;
}

.menu ul li {
    display: inline;  
    display: inline-block;
    word-spacing: 4pt;   
    left:850px;
}
.menu ul li a{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 50px; 
    text-decoration: none;
    color: var(--Letra); 
    font-family: Raleway;
    color: rgba(255, 255, 255, 0.815);
}
.principal{
    background: var(--darkBlue);
    position: relative;
    padding-top: 200px;
    text-align: center;
    align-items: center;
}

.image-principal{
    display: flex;
    justify-content: center;
}

.fondo{
    position: relative;
    z-index: 2;
}

.ima-wave{
     position: absolute;
     z-index: 1;
     top: 313px;
    
    }

.img-principal {
    width: auto; 
    height: 900px;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 95px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.subtitle, .subtitle-feature, .subtitle-team, .subtitle-signIn{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.815);
    font-family: "Open Sans",sans-serif;
}
.btnBlue{
    font-size: 40pt;
    background-color: var(--Botones);
    margin: 0px 0px 30px 580px;
    padding: 4px 20px 4px 20px;
    color: var(--Letra);
    font-family:"Raleway",sans-serif;
    font-weight:700px;
    border:none;
    border-radius:90px;
    padding:60px 280px;
}

.features-principal{
    display: grid;
    background-image: url(../images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    padding-top: 500px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 250px;
    justify-items: center;

}

.feature {
    text-align: center;
}

.img-center {
    width: auto;
    height: 250px;
}

.info-feature{
    margin-top: 100px;
}

.title-feature, .title-team, .title-signIn {
    font-size: 65px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.team-principal {
    display: grid;
    grid-template-columns: 1fr;    
    margin-top: 400px;
}

.img-team {
    text-align: center;
    width: auto;
    height: 900px;
}

.arrowTxt{
    color: var(--iconos);
    font-size: 50px;
}
.arrowIcon {
    width: auto;
    height: 50px;
    margin-left: 15px;
}

.info-team {
    text-align: left;
    margin-top: 50px;
}

.signIn-principal {
    text-align: center;
    justify-content: center;
    background-color: var(--Dark03);
    padding: 90px 90px 90px 90px;
    border-radius:10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    position: relative;
    top: 300px;
}

.email {
    padding:60px 270px;
    border:none;
    border-radius:90px;
    font-size: 40px;
}

.btnBlue2{
    font-size: 40px;
    background-color: var(--Botones);
    color: var(--Letra);
    font-family:"Raleway",sans-serif;
    font-weight:700;
    border:none;
    border-radius:90px;
    padding:60px 280px;
}

.footer-principal {
    display:grid;
    grid-template-columns: 2fr;
    background-color: var(--Dark02);
    grid-gap: 35px;
    padding: 400px 500px 20px 500px;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.815);
}
.contact-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img-logo2 {
    width: auto; 
    height: 200px;
}

.location, .phone, .mail{
    width: auto;
    height: 100px;
}

.logoend{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 0px 0px 0px;
}
.links-footer1  a, .links-footer2 a{
    text-decoration: none;
  }
.social-footer-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

.social-footer-icons a.social {
    text-decoration: none;
    color: var(--Letra);
    border:4px solid white;
    border-radius:50%;
    width:100px;
    height:100px;
    text-align: center;
}


} 