  
:root {
    --darkBlue: #1B2330; /* color de intro y color fond de correo*/
    --Dark01: #171E2A; /* color de fondo de pantalla principal*/
    --Dark02: #0A1423; /* color de fondo de pie */
    --Dark03: #20293B; /* color testimonios recuadro */
    --iconos: #64E1D9; /* color de los icones de pagina*/
    --Botones: #339ECC; /* color de los botones de pagina*/
    --Letra: #FFFFFF; /* color de letra*/
}
body{
    background: var(--Dark01);
    margin: 0px 0px 0px 0px;
    height: 1440px;
    font-family: "Open Sans",sans-serif;
    color: var(--Letra)
}
.header{
    background:url("./images/bg-curvy-desktop.svg");
    background: var(--darkBlue);
    display: flex;
    width: 1440px;
    
}
.logo{
    margin: 10px 10px 10px 10px;
}

.menu ul li {
    display: inline;  
    display: inline-block;
    word-spacing: 4pt;   
    position: relative;
    left:850px;
}
.menu ul li a{
    font-size: 14pt; 
    text-decoration: none;
    padding: 0px 10px 0px 0px;
    display: block;  
    color: var(--Letra); 
    font-family: Raleway;
}
.principal{
    background: var(--darkBlue);
    width: 1440px;
}
.image-principal{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 14pt;
}
.subtitle{
    margin:0px 170px 40px 170px;
    display: flex;
    justify-content: center;
    font-size: 14pt;
}
