:root {
    --darkBlue: #1B2330; /* color de intro y color fond de correo*/
    --Dark01: #171E2A; /* color de fondo de pantalla principal*/
    --Dark02: #0A1423; /* color de fondo de pie */
    --Dark03: #20293B; /* color testimonios recuadro */
    --iconos: #64E1D9; /* color de los icones de pagina*/
    --Botones: #339ECC; /* color de los botones de pagina*/
    --Letra: #FFFFFF; /* color de letra*/
}

.header {
    color: var(--darkBlue);
}