:root {
    --darkBlue: #1B2330; /* color de intro y color fond de correo*/
    --Dark01: #171E2A; /* color de fondo de pantalla principal*/
    --Dark02: #0A1423; /* color de fondo de pie */
    --Dark03: #20293B; /* color testimonios recuadro */
    --iconos: #64E1D9; /* color de los icones de pagina*/
    --Botones: #339ECC; /* color de los botones de pagina*/
    --Letra: #FFFFFF; /* color de letra*/
}
body{
    background: var(--Dark01);
    margin: 0px 0px 0px 0px;
    font-family: "Open Sans",sans-serif;
    color: var(--Letra)
}
.header{
    background: var(--darkBlue);
    display: flex; 
  
}


.logo{
    margin: 10px 10px 10px 10px;
    left: 300px;
}

.menu ul li {
    display: inline;  
    display: inline-block;
    word-spacing: 4pt;   
    position: relative;
    left:850px;
}
.menu ul li a{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 14pt; 
    text-decoration: none;
    padding: 0px 10px 0px 0px;
    display: block;  
    color: var(--Letra); 
    font-family: Raleway;
}
.principal{
    background: var(--darkBlue);
    width: 1440px;
    position: relative;
}
.fondo{
position: relative;
z-index: 2;
}
.ima-wave{
 position: absolute;
 z-index: 1;
 top: 313px;

 
}
.image-principal{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 14pt;
}
.subtitle{
    margin:0px 170px 40px 170px;
    display: flex;
    justify-content: center;
    font-size: 14pt;
}
.btnBlue{
    position: relative;
    font-size: 14pt;
    background-color: var(--Botones);
    margin: 0px 0px 30px 640px;
    padding: 4px 20px 4px 20px;
    color: var(--Letra);
    font-family:"Raleway",sans-serif;
    font-weight:700;
    border:none;
    border-radius:30px;
    padding:17px 96px;
}

.features-principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh;
    justify-items: center;
    
    background-repeat: no-repeat;
}

.feature {
    width: 60%;   
    text-align: center;
}

.team-principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 100px 0px 200px 0px;
}

.info-team {
    text-align: left;
    width: 75%;
    padding: 100px 100px 100px 100px;
}

.image-team {
    text-align: center;
}

.arrowTxt{
    color: var(--iconos);
}

.signIn-principal {
    text-align: center;
    justify-content: center;
    margin: 100px 300px 100px 300px;
    background-color: var(--Dark03);
    padding: 30px 30px 30px 30px;
    border-radius:10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    position: absolute;
    top: 1900px;
}

.email {
    padding:10px 20px;
    border:none;
    border-radius:30px;
}

.btnBlue2{
    font-size: 14pt;
    background-color: var(--Botones);
    color: var(--Letra);
    font-family:"Raleway",sans-serif;
    font-weight:700;
    border:none;
    border-radius:30px;
    padding:10px 20px;
}

.footer-principal {
    display:grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    background-color:white ;
    background-color: var(--Dark02);
    padding: 200px 200px 200px 200px;
    grid-gap: 55px;
}

.location-footer{
    /*background-color: red;*/
  }
  .contact-footer{
      /*background-color: green;*/
      display: grid;
      grid-template-rows: 80px 80px;
  }
  .contact-phone{
      display: grid;
      grid-template-columns: 20px 140px;
      justify-items: center;
  }
  .contact-mail{
    display: grid;
    grid-template-columns: 20px 140px;
    justify-items: center;
  }
  
  .links-footer1 , .links-footer2{
    /*background-color: rgb(255, 255, 255);*/
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }

  .links-footer1  a{
    text-decoration: none;
    color: var(--Letra);
  }

  .links-footer2 a{
    text-decoration: none;
    color: var(--Letra);
  }

  .social-footer-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*background-color: rgb(162, 226, 43);*/
  }

.social-footer-icons a.social {
    text-decoration: none;
    color: var(--Letra);
}

i.fab {
    /*border:1px solid white;*/
    border-radius:50%;
    width:1.5rem;
    height:1.5rem;
    text-align: center;
  }

.container {
    display: grid;
    width: 1440px;
}
.logoend{
    display: grid;
    grid-template-columns: 40px 200px;
    justify-items: center;
    padding: 10px 10px 10px 10px ;
}